In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("../../data/trends/final_data/USA_statewise.csv")
df2 = pd.read_csv("../../data/trends/final_data/USA_statewise_2.csv")

In [3]:
df2

            date  do i have covid  isPartial State
0     2020-03-22                0      False    AL
1     2020-03-23                0      False    AL
2     2020-03-24                0      False    AL
3     2020-03-25                0      False    AL
4     2020-03-26               33      False    AL
...          ...              ...        ...   ...
8795  2020-10-03                0      False    WY
8796  2020-10-04                0      False    WY
8797  2020-10-05                0      False    WY
8798  2020-10-06                0      False    WY
8799  2020-10-07                0      False    WY

[8800 rows x 4 columns]

In [4]:
trends_df = pd.concat([df1,df2], join='inner', axis = 1)
trends_df = trends_df[['date', 'State', 'covid symptoms', 'do i have covid']]
trends_df

            date        date State State  covid symptoms  do i have covid
0     2020-03-22  2020-03-22    AL    AL              44                0
1     2020-03-23  2020-03-23    AL    AL              41                0
2     2020-03-24  2020-03-24    AL    AL              43                0
3     2020-03-25  2020-03-25    AL    AL              47                0
4     2020-03-26  2020-03-26    AL    AL              42               33
...          ...         ...   ...   ...             ...              ...
8795  2020-10-03  2020-10-03    WY    WY              38                0
8796  2020-10-04  2020-10-04    WY    WY              66                0
8797  2020-10-05  2020-10-05    WY    WY              33                0
8798  2020-10-06  2020-10-06    WY    WY              24                0
8799  2020-10-07  2020-10-07    WY    WY              17                0

[8800 rows x 6 columns]

In [5]:
trends_df.to_csv("../../data/trends/final_data/USA_statewise_final.csv")