In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("../../data/trends/final_data/USA_statewise_final.csv")
df2 = pd.read_csv("../../data/trends/final_data/USA_statewise_3.csv")
df3 = pd.read_csv("../../data/trends/final_data/USA_statewise_4.csv")

In [3]:
df2

            date  do i have covid  isPartial State
0     2020-03-22                0      False    AL
1     2020-03-23                0      False    AL
2     2020-03-24                0      False    AL
3     2020-03-25                0      False    AL
4     2020-03-26               33      False    AL
...          ...              ...        ...   ...
8795  2020-10-03                0      False    WY
8796  2020-10-04                0      False    WY
8797  2020-10-05                0      False    WY
8798  2020-10-06                0      False    WY
8799  2020-10-07                0      False    WY

[8800 rows x 4 columns]

In [7]:
trends_df = pd.concat([df1,df2, df3], join='inner', axis = 1)
trends_df = trends_df[['date', 'State', 'covid symptoms', 'do i have covid', "covid test", "covid near me", "covid vaccines", "covid travel", "travel restrictions", "covid depression", "covid health insurance", "test sites", "bars near me"]]
trends_df = trends_df.loc[:, ~trends_df.columns.duplicated()]
trends_df

,date,State,covid symptoms,do i have covid,covid test,covid near me,covid vaccines,covid travel,travel restrictions,covid depression,covid health insurance,test sites,bars near me
0,2020-03-22,AL,44,0,19,14,0,5,7,0,0,26,26
1,2020-03-23,AL,41,0,22,16,0,0,4,0,22,22,0
2,2020-03-24,AL,43,0,19,9,0,4,6,23,0,23,0
3,2020-03-25,AL,47,0,13,9,0,7,0,0,0,0,48
4,2020-03-26,AL,42,33,22,9,0,0,0,24,0,24,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,2020-10-03,WY,38,0,25,16,0,0,0,0,0,0,0
8796,2020-10-04,WY,66,0,0,0,0,19,19,0,0,0,0
8797,2020-10-05,WY,33,0,19,28,0,0,18,0,0,0,0
8798,2020-10-06,WY,24,0,24,0,0,0,16,0,0,0,0
8799,2020-10-07,WY,17,0,21,16,0,0,0,0,0,0,41

In [8]:
trends_df.to_csv("../../data/trends/final_data/USA_statewise_11terms.csv")